/* GLOBALS: Light Colors */
.--c-inherit{color:var(--c-inherit);}
.--c-light{color:var(--c-light);}
.--c-dark{color:var(--c-dark);}
.--c-disabled{color:var(--c-disabled);}
.--c-red{color:var(--c-red);}
.--c-blue{color:var(--c-blue);}
.--c-green{color:var(--c-green);}
.--c-orange{color:var(--c-orange);}
.--c-pink{color:var(--c-pink);}
.--c-purple{color:var(--c-purple);}
.--c-turqoise{color:var(--c-turqoise);}
.--c-yellow{color:var(--c-yellow);}
.--c-lemon{color:var(--c-lemon);}
.--c-lime{color:var(--c-lime);}
  
/* GLOBALS: Dark Colors */
.--c-light-alt{color:var(--c-light-alt);}
.--c-dark-alt{color:var(--c-dark-alt);}
.--c-disabled-alt{color:var(--c-disabled-alt);}
.--c-red-alt{color:var(--c-red-alt);}
.--c-blue-alt{color:var(--c-blue-alt);}
.--c-green-alt{color:var(--c-green-alt);}
.--c-orange-alt{color:var(--c-orange-alt);}
.--c-pink-alt{color:var(--c-pink-alt);}
.--c-purple-alt{color:var(--c-purple-alt);}
.--c-turqoise-alt{color:var(--c-turqoise);}
.--c-yellow-alt{color:var(--c-yellow-alt);}
.--c-lemon-alt{color:var(--c-lemon-alt);}
.--c-lime-alt{color:var(--c-lime-alt);}

/* GLOBALS: Light Background Colors */
.--bg-light{background:var(--c-light);}
.--bg-dark{background:var(--c-dark);}
.--bg-disabled{background:var(--c-disabled);}
.--bg-red{background:var(--c-red);}
.--bg-blue{background:var(--c-blue);}
.--bg-green{background:var(--c-green);}
.--bg-orange{background:var(--c-orange);}
.--bg-pink{background:var(--c-pink);}
.--bg-purple{background:var(--c-purple);}
.--bg-turqoise{background:var(--c-turqoise);}
.--bg-yellow{background:var(--c-yellow);}
.--bg-lemon{background:var(--c-lemon);}
.--bg-lime{background:var(--c-lime);}
.--bg-none{background:var(--none);}
  
/* GLOBALS: Dark Background Colors */
.--bg-light-alt{background:var(--c-light-alt);}
.--bg-dark-alt{background:var(--c-dark-alt);}
.--bg-disabled-alt{background:var(--c-disabled-alt);}
.--bg-red-alt{background:var(--c-red-alt);}
.--bg-blue-alt{background:var(--c-blue-alt);}
.--bg-green-alt{background:var(--c-green-alt);}
.--bg-orange-alt{background:var(--c-orange-alt);}
.--bg-pink-alt{background:var(--c-pink-alt);}
.--bg-purple-alt{background:var(--c-purple-alt);}
.--bg-turqoise-alt{background:var(--c-turqoise);}
.--bg-yellow-alt{background:var(--c-yellow-alt);}
.--bg-lemon-alt{background:var(--c-lemon-alt);}
.--bg-lime-alt{background:var(--c-lime-alt);}

/* GLOBALS: Light Color Shaders */
.--c-shader-1x{color:rgba(225,225,225,0.12);}
.--c-shader-2x{color:rgba(225,225,225,0.24);}
.--c-shader-3x{color:rgba(225,225,225,0.48);}
.--c-shader-4x{color:rgba(225,225,225,0.86);}
  
/* GLOBALS: Dark Color Shaders */
.--c-shader-alt-1x{color:rgba(0,0,0,0.12);}
.--c-shader-alt-2x{color:rgba(0,0,0,0.24);}
.--c-shader-alt-3x{color:rgba(0,0,0,0.48);}

/* GLOBALS: Light Background Color Shaders */
.--bg-shader-1x{background:rgba(225,225,225,0.13);}
.--bg-shader-2x{background:rgba(225,225,225,0.24);}
.--bg-shader-3x{background:rgba(225,225,225,0.48);}
.--bg-shader-4x{background:rgba(225,225,225,0.60);}
.--bg-shader-5x{background:rgba(225,225,225,0.82);}
  
/* GLOBALS: Dark Background Color Shaders */
.--bg-shader-alt-1x{background:rgba(0,0,0,0.12);}
.--bg-shader-alt-2x{background:rgba(0,0,0,0.24);}
.--bg-shader-alt-3x{background:rgba(0,0,0,0.48);}

/* GLOBALS: Text Stroke Light Colors */
.--ts-light{-webkit-text-stroke-color:var(--c-light);}
.--ts-dark{-webkit-text-stroke-color:var(--c-dark);}
.--ts-disabled{-webkit-text-stroke-color:var(--c-disabled);}
.--ts-red{-webkit-text-stroke-color:var(--c-red);}
.--ts-blue{-webkit-text-stroke-color:var(--c-blue);}
.--ts-green{-webkit-text-stroke-color:var(--c-green);}
.--ts-orange{-webkit-text-stroke-color:var(--c-orange);}
.--ts-pink{-webkit-text-stroke-color:var(--c-pink);}
.--ts-purple{-webkit-text-stroke-color:var(--c-purple);}
.--ts-turqoise{-webkit-text-stroke-color:var(--c-turqoise);}
.--ts-yellow{-webkit-text-stroke-color:var(--c-yellow);}
.--ts-lemon{-webkit-text-stroke-color:var(--c-lemon);}
.--ts-lime{-webkit-text-stroke-color:var(--c-lime);}

/* GLOBALS: Border Light Colors */
.--border-light{border-color:var(--c-light);}
.--border-dark{border-color:var(--c-dark);}
.--border-disabled{border-color:var(--c-disabled);}
.--border-red{border-color:var(--c-red);}
.--border-blue{border-color:var(--c-blue);}
.--border-green{border-color:var(--c-green);}
.--border-orange{border-color:var(--c-orange);}
.--border-pink{border-color:var(--c-pink);}
.--border-purple{border-color:var(--c-purple);}
.--border-turqoise{border-color:var(--c-turqoise);}
.--border-yellow{border-color:var(--c-yellow);}
.--border-lemon{border-color:var(--c-lemon);}
.--border-lime{border-color:var(--c-lime);}

/* GLOBALS: Border Dark Colors */
.--border-light-alt{border-color:var(--c-light-alt);}
.--border-dark-alt{border-color:var(--c-dark-alt);}
.--border-disabled-alt{border-color:var(--c-disabled-alt);}
.--border-red-alt{border-color:var(--c-red-alt);}
.--border-blue-alt{border-color:var(--c-blue-alt);}
.--border-green-alt{border-color:var(--c-green-alt);}
.--border-orange-alt{border-color:var(--c-orange-alt);}
.--border-pink-alt{border-color:var(--c-pink-alt);}
.--border-purple-alt{border-color:var(--c-purple-alt);}
.--border-turqoise-alt{border-color:var(--c-turqoise-alt);}
.--border-yellow-alt{border-color:var(--c-yellow-alt);}
.--border-lemon-alt{border-color:var(--c-lemon-alt);}
.--border-lime-alt{border-color:var(--c-lime-alt);}

/* GLOBALS: Border Top Light Colors */
.--border-top-light{border-top-color:var(--c-light);}
.--border-top-dark{border-top-color:var(--c-dark);}
.--border-top-disabled{border-top-color:var(--c-disabled);}
.--border-top-red{border-top-color:var(--c-red);}
.--border-top-blue{border-top-color:var(--c-blue);}
.--border-top-green{border-top-color:var(--c-green);}
.--border-top-orange{border-top-color:var(--c-orange);}
.--border-top-pink{border-top-color:var(--c-pink);}
.--border-top-purple{border-top-color:var(--c-purple);}
.--border-top-turqoise{border-top-color:var(--c-turqoise);}
.--border-top-yellow{border-top-color:var(--c-yellow);}
.--border-top-lemon{border-top-color:var(--c-lemon);}
.--border-top-lime{border-top-color:var(--c-lime);}

/* GLOBALS: Border Left Light Colors */
.--border-left-light{border-left-color:var(--c-light);}
.--border-left-dark{border-left-color:var(--c-dark);}
.--border-left-disabled{border-left-color:var(--c-disabled);}
.--border-left-red{border-left-color:var(--c-red);}
.--border-left-blue{border-left-color:var(--c-blue);}
.--border-left-green{border-left-color:var(--c-green);}
.--border-left-orange{border-left-color:var(--c-orange);}
.--border-left-pink{border-left-color:var(--c-pink);}
.--border-left-purple{border-left-color:var(--c-purple);}
.--border-left-turqoise{border-left-color:var(--c-turqoise);}
.--border-left-yellow{border-left-color:var(--c-yellow);}
.--border-left-lemon{border-left-color:var(--c-lemon);}
.--border-left-lime{border-left-color:var(--c-lime);}

/* GLOBALS: Border Right Light Colors */
.--border-right-light{border-right-color:var(--c-light);}
.--border-right-dark{border-right-color:var(--c-dark);}
.--border-right-disabled{border-right-color:var(--c-disabled);}
.--border-right-red{border-right-color:var(--c-red);}
.--border-right-blue{border-right-color:var(--c-blue);}
.--border-right-green{border-right-color:var(--c-green);}
.--border-right-orange{border-right-color:var(--c-orange);}
.--border-right-pink{border-right-color:var(--c-pink);}
.--border-right-purple{border-right-color:var(--c-purple);}
.--border-right-turqoise{border-right-color:var(--c-turqoise);}
.--border-right-yellow{border-right-color:var(--c-yellow);}
.--border-right-lemon{border-right-color:var(--c-lemon);}
.--border-right-lime{border-right-color:var(--c-lime);}

/* GLOBALS: Border Bottom Light Colors */
.--border-bottom-light{border-bottom-color:var(--c-light);}
.--border-bottom-dark{border-bottom-color:var(--c-dark);}
.--border-bottom-disabled{border-bottom-color:var(--c-disabled);}
.--border-bottom-red{border-bottom-color:var(--c-red);}
.--border-bottom-blue{border-bottom-color:var(--c-blue);}
.--border-bottom-green{border-bottom-color:var(--c-green);}
.--border-bottom-orange{border-bottom-color:var(--c-orange);}
.--border-bottom-pink{border-bottom-color:var(--c-pink);}
.--border-bottom-purple{border-bottom-color:var(--c-purple);}
.--border-bottom-turqoise{border-bottom-color:var(--c-turqoise);}
.--border-bottom-yellow{border-bottom-color:var(--c-yellow);}
.--border-bottom-lemon{border-bottom-color:var(--c-lemon);}
.--border-bottom-lime{border-bottom-color:var(--c-lime);}

/* GLOBALS: Border Top Dark Colors */
.--border-top-light-alt{border-top-color:var(--c-light-alt);}
.--border-top-dark-alt{border-top-color:var(--c-dark-alt);}
.--border-top-disabled-alt{border-top-color:var(--c-disabled-alt);}
.--border-top-red-alt{border-top-color:var(--c-red-alt);}
.--border-top-blue-alt{border-top-color:var(--c-blue-alt);}
.--border-top-green-alt{border-top-color:var(--c-green-alt);}
.--border-top-orange-alt{border-top-color:var(--c-orange-alt);}
.--border-top-pink-alt{border-top-color:var(--c-pink-alt);}
.--border-top-purple-alt{border-top-color:var(--c-purple-alt);}
.--border-top-turqoise-alt{border-top-color:var(--c-turqoise-alt);}
.--border-top-yellow-alt{border-top-color:var(--c-yellow-alt);}
.--border-top-lemon-alt{border-top-color:var(--c-lemon-alt);}
.--border-top-lime-alt{border-top-color:var(--c-lime-alt);}

/* GLOBALS: Border Left Dark Colors */
.--border-left-light-alt{border-left-color:var(--c-light-alt);}
.--border-left-dark-alt{border-left-color:var(--c-dark-alt);}
.--border-left-disabled-alt{border-left-color:var(--c-disabled-alt);}
.--border-left-red-alt{border-left-color:var(--c-red-alt);}
.--border-left-blue-alt{border-left-color:var(--c-blue-alt);}
.--border-left-green-alt{border-left-color:var(--c-green-alt);}
.--border-left-orange-alt{border-left-color:var(--c-orange-alt);}
.--border-left-pink-alt{border-left-color:var(--c-pink-alt);}
.--border-left-purple-alt{border-left-color:var(--c-purple-alt);}
.--border-left-turqoise-alt{border-left-color:var(--c-turqoise-alt);}
.--border-left-yellow-alt{border-left-color:var(--c-yellow-alt);}
.--border-left-lemon-alt{border-left-color:var(--c-lemon-alt);}
.--border-left-lime-alt{border-left-color:var(--c-lime-alt);}

/* GLOBALS: Border Right Dark Colors */
.--border-right-light-alt{border-right-color:var(--c-light-alt);}
.--border-right-dark-alt{border-right-color:var(--c-dark-alt);}
.--border-right-disabled-alt{border-right-color:var(--c-disabled-alt);}
.--border-right-red-alt{border-right-color:var(--c-red-alt);}
.--border-right-blue-alt{border-right-color:var(--c-blue-alt);}
.--border-right-green-alt{border-right-color:var(--c-green-alt);}
.--border-right-orange-alt{border-right-color:var(--c-orange-alt);}
.--border-right-pink-alt{border-right-color:var(--c-pink-alt);}
.--border-right-purple-alt{border-right-color:var(--c-purple-alt);}
.--border-right-turqoise-alt{border-right-color:var(--c-turqoise-alt);}
.--border-right-yellow-alt{border-right-color:var(--c-yellow-alt);}
.--border-right-lemon-alt{border-right-color:var(--c-lemon-alt);}
.--border-right-lime-alt{border-right-color:var(--c-lime-alt);}

/* GLOBALS: Border Bottom Dark Colors */
.--border-bottom-light-alt{border-bottom-color:var(--c-light-alt);}
.--border-bottom-dark-alt{border-bottom-color:var(--c-dark-alt);}
.--border-bottom-disabled-alt{border-bottom-color:var(--c-disabled-alt);}
.--border-bottom-red-alt{border-bottom-color:var(--c-red-alt);}
.--border-bottom-blue-alt{border-bottom-color:var(--c-blue-alt);}
.--border-bottom-green-alt{border-bottom-color:var(--c-green-alt);}
.--border-bottom-orange-alt{border-bottom-color:var(--c-orange-alt);}
.--border-bottom-pink-alt{border-bottom-color:var(--c-pink-alt);}
.--border-bottom-purple-alt{border-bottom-color:var(--c-purple-alt);}
.--border-bottom-turqoise-alt{border-bottom-color:var(--c-turqoise-alt);}
.--border-bottom-yellow-alt{border-bottom-color:var(--c-yellow-alt);}
.--border-bottom-lemon-alt{border-bottom-color:var(--c-lemon-alt);}
.--border-bottom-lime-alt{border-bottom-color:var(--c-lime-alt);}
